Host rothomagus
  Hostname rothomagus.alxs.fr
  User pi
  ForwardAgent yes
  Port 22

Host lutece
  Hostname lutece.alxs.fr
  ForwardAgent yes
  Port 22

Host treola
  Hostname treola.alxs.fr
  ForwardAgent yes
  Port 22
